{% extends '::base.html.twig' %}
{% block body %}
	{% block fos_user_content %}{% endblock %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Infos personnelles 
			</div>
			<div class="panel-body">
				<table class="record_properties">
					<tr>
						<td>Nom : {{ user.lastName }}</td>
					</tr>
					<tr>
						<td>Prénom : {{ user.firstName }}</td>
					</tr>
					<tr>
						<td>Mail : {{ user.email }}</td>
					</tr>

					<tr>
						<td>Telephone : {{ user.telephone }}</td>
					</tr>
				</table>

			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-knight" aria-hidden="true"></span> Infos de jeu
			</div>
			<div class="panel-body">
				<table class="record_properties">
					<tr>
						<td>Tournoi choisis : {{ user.tournament }}</td>
					</tr>
					<tr>
						<td>Rang : <a href="{{ path('experience_show', {'id': user.experience }) }}">{{ user.experience }}</a></td>
					</tr>
				</table>

			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Equipe
			</div>	
			<div class="panel-body">

				Joueur 1 :
				Joueur 2 :
				Joueur 3 :
				Joueur 4 :
				Joueur 5 :

			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Postes par préférences
			</div>
			<div class="panel-body">

				1
				2
				3
				4
				5
				
			</div>
		</div>
	{% endblock %}

