<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block title %}Bordeaux Geek Festival : E-Sport{% endblock %}</title>

  <!-- Bootstrap -->
  <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  {% block stylesheets %}<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">{% endblock %}
</head>

<body style="padding:1em">
  <div class="container-fluid">
    {% block header %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Activer la navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('homepage') }}">BGF:ES</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            		LoL  <span class="caret"></span>
            	</a>
            	<ul class="dropdown-menu">
            		<li>
            			<a href="{{ path('lol') }}" >
            				<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            				Equipes validées
            			</a>
            		</li>
            		<li>
	      			  <a href="{{ path('search_player', { 'game': 'lol' }) }}">
				      	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				      		Rechercher joueurs <span class="badge">{{searchUsersService.getSearchingUsersSystName('lol')}}</span>
				      </a>
				    </li>
				    <li>
				      <a href="{{ path('search_team',  { 'game': 'lol' }) }}">
				      	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				      		Rechercher équipes
				      </a>
				    </li>
				      {% if (is_granted("IS_AUTHENTICATED_REMEMBERED") )
				      and (app.user.capitain != true) 
				      and (app.user.team == null) 
				      and (app.user.tournament == 'lol')
				      and (app.user.tournament!=null) %}
				      	<li>
					        <a href="{{ path('team_new' )}}">
						        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						        	Inscrire une équipe
					        </a>
					    </li>
				      {%elseif (is_granted("IS_AUTHENTICATED_REMEMBERED") and (app.user.tournament != 'lol'))
				       or (is_granted("IS_AUTHENTICATED_REMEMBERED") and (app.user.tournament !=null)) %}
				      {%else%}
				      	<li>
					      	<a href="{{ path('fos_user_security_login' )}}">
					      		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					      			S'inscrire au tournoi
					        </a>
					    </li>
				      {%endif%}
    			</ul>
            </li>
            <li>
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            		CS:GO  <span class="caret"></span>
            	</a>
            	<ul class="dropdown-menu">
            		<li>
            			<a href="{{ path('csgo') }}">
            				<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            				Equipes validées
            			</a>
            		</li>
            		<li>
	      			  <a href="{% block search_player %}{{ path('search_player', { 'game': 'csgo' }) }}{% endblock %}">
				      	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				      		Rechercher joueurs <span class="badge">{{searchUsersService.getSearchingUsersSystName('csgo')}}</span>
				      </a>
				    </li>
				    <li>
				      <a href="{% block search_team %}{{ path('search_team',  { 'game': 'csgo' }) }}{% endblock %}">
				      	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				      		Rechercher équipes
				      </a>
				    </li>
				      {% if (is_granted("IS_AUTHENTICATED_REMEMBERED") )
				      and (app.user.capitain != true) 
				      and (app.user.team == null) 
				      and (app.user.tournament == 'csgo')
				      and (app.user.tournament!=null) %}
				      	<li>
					        <a href="{{ path('team_new' )}}">
						        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						        	Inscrire une équipe
					        </a>
					    </li>
				      {%elseif (is_granted("IS_AUTHENTICATED_REMEMBERED") and (app.user.tournament != 'csgo'))
				       or (is_granted("IS_AUTHENTICATED_REMEMBERED") and (app.user.tournament !=null)) %}
				      {%else%}
				      	<li>
					      	<a href="{{ path('fos_user_security_login' )}}">
					      		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					      			S'inscrire au tournoi
					        </a>
					    </li>
				      {%endif%}
				  </ul>
            </li>
            <li>
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            		<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            		FAQ  <span class="caret"></span>
            	</a>
            	<ul class="dropdown-menu">
            		<li>
            			<a href="{{ path('faq', {'game': 'lol'}) }}">
            				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            				League of Legends
            			</a>
            		</li>
            		<li>
            			<a href="{{ path('faq', {'game': 'csgo'}) }}">
            				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            				Counter Strike : Global Offensive
            			</a>
            		</li>
				  </ul>
            </li>
            {#<li><a href="#">Animations</a></li>
            <li><a href="#">Editions précédentes</a></li>
			 <li><a href="{{path('blog')}}">Blog</a></li> #}
          </ul>
          <ul class="nav navbar-nav navbar-right">
	          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		          <li><a href="{{ path('profil') }}">
		          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		          Mon profil [{{app.user.username}}] 
			          	{% if app.user.team == null%}
			          		<span class="badge">{{ countCandidatsService.getCandidatureFromTeam(app.user.id) }}</span>
			          	{%else%}
			          		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			          	{%endif%}
		          </a></li>
			          {% if app.user.team != null%}
			          <li><a href="{{ path('equipe') }}">
			          	Mon équipe [{{app.user.team.name}}] 
			          	{% if app.user.team.validation == null and app.user.capitain%}
			          		<span class="badge">{{ countCandidatsService.getSearchingCandidats(app.user.team.id) }}</span>
			          	{%elseif app.user.team.validation != null%}
			          		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			          	{%else%}
			          	{%endif%}
			          </a></li>
				          {%if app.user.tournament%}
				          	<li><a href="{{ path('search_player', { 'game': app.user.tournament.systName }) }}">
					      	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					      		Rechercher joueurs <span class="badge">{{ searchUsersService.getSearchingUsers(app.user.tournament.id) }}</span>
					      </a></li>
	      				  {% endif %}
			          {%else%}
			          	{%if app.user.manager == true or app.user.experience%}
					      <li><a href="{{ path('team_new' )}}">
						  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						  	Inscrire une équipe
					      </a></li>
					    {%elseif (app.user.tournament==null)%}
						    <li><a href="{{ path('game_choose') }}">
						    	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						        Choisir le tournoi
						    </li></a>
					    {%elseif (app.user.experience==null)%}
						    <li><a href="{{ path('experience_new_user') }}">
						    	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						        Saisir Ranking/Roles
						    </li></a>
					    {%endif%}
					    {%if app.user.tournament%}
					      <li><a href="{{ path('search_team',  { 'game': app.user.tournament.systName }) }}">
	      					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	      					Rechercher équipes
	      				  </a></li>
      				  	{% endif %}
			          {% endif %}
		          <li><a class="btn btn-inverse" href="{{ path('fos_user_security_logout') }}">
		          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
		          Se déconnecter</a></li>
	          {% else %}
	         	  <li><a class="btn btn-inverse" href="{{ path('fos_user_registration_register') }}">
	         	  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	         	  Inscription</a></li>
	         	  <li><a class="btn btn-inverse" href="{{ path('fos_user_security_login') }}">
		          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		          Connexion</a></li>
	          {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
  </div>


{% block javascripts %}{% endblock %}
<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
