{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <ul class=" nav nav-pills nav-stacked">
      <li><a href="{% block search_player %}{{ path('search_player', { 'needs_posts': "false" }) }}{% endblock %}">Rechercher un joueur</a></li>
      <li><a href="{% block search_team %}{{ path('search_team', { 'needs_posts': "false" }) }}{% endblock %}">Rechercher une équipe</a></li>
      {% if (is_granted("IS_AUTHENTICATED_REMEMBERED"))%}
      {%else%}
      	<li><a href="{{ path('fos_user_security_login' )}}">S'inscrire au tournoi</a></li>
      {%endif%}
      {% if (is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.capitain != true and app.user.team == null) %}
        <li><a href="{{ path('team_new' )}}">Inscrire une équipe</a></li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="row">
	<table>
	{%for entity in entities%}
		<tr>
			<td>{{entity.name}}</td>
			<td>{{entity.captain}}</td>
		</tr>
	{%endfor%}
	</table>
</div>
{% endblock %}
