{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
    	<div class="col-md-2">
    	    {%if (app.request.requestUri == '/abgg-symfony/web/app_dev.php/csgo') %}
				<img width="100%" src="{{ asset('bundles/app/images/bancsgo.png') }}" />
		    {%elseif (app.request.requestUri == '/abgg-symfony/web/app_dev.php/lol') %}
				<img width="100%" src="{{ asset('bundles/app/images/banlol.png') }}" />
		    {%endif%}
    	</div>
    	<div class="col-md-10">
		    <h1>Equipes Validées [tournoi 
		    {%if (app.request.requestUri == '/abgg-symfony/web/app_dev.php/csgo') %}
		    	Counter Strike : Global Offensive]
		    {%elseif (app.request.requestUri == '/abgg-symfony/web/app_dev.php/lol') %}
		    	League of Legends]
		    {%endif%}
		    </h1>
    	</div>
    </div>

	<br>
	{%set validation=false%}
	{% for entity in entities%}
		{%if entity.validation != null%}
			{%set validation=true%}
		{%endif%}
	{%endfor%}
	
{%if validation%}
	<div class="row">
    	<div class="col-md-12">
			<table class="table table-hover">
				<tr>
					<th>Nom Equipe</th>
					<th>Capitaine</th>
					<th>Joueur 1</th>
					<th>Joueur 2</th>
					<th>Joueur 3</th>
					<th>Joueur 4</th>
					<th>Joueur 5</th>
					<th>Joueur 6</th>
				</tr>
			{%for entity in entities%}
				{%if entity.validation != null%}
					<tr>
						<td>
							{%if entity.image%}
								<img height="50px" width="50px" src="{{ asset('uploads/images/'~entity.image.name) }}" />
							{%endif%}
							<a class="btn btn-link" href="{{ path('team_show_all', {'id':entity.id} ) }}">
								{{entity.name}}
							</a>
						</td>
						<td>
							{%if entity.captain.image%}
								<img height="50px" width="50px" src="{{ asset('uploads/images/'~entity.captain.image.name) }}" />
							{%endif%}
							<a class="btn btn-link" href="{{ path('user_show', {'id':entity.captain.id} ) }}">
								{{entity.captain}} 
							</a>
							{%if entity.captain.tournament.systName == 'lol'%}
								- {{entity.captain.role.name}}
							{%endif%}
						</td>
						{%for player in entity.player%}
							<td>
								{%if player.user.image%}
									<img height="50px" width="50px" src="{{ asset('uploads/images/'~player.user.image.name) }}" />
								{%endif%}
								<a class="btn btn-link" href="{{ path('user_show', {'id':player.user.id} ) }}">
									{{player.user.experience.username}}
								</a>
								{%if entity.captain.tournament.systName == 'lol' and player.user.manager ==null%}
									 <br> {{player.role.name}}
								{%elseif player.user.manager !=null%}
								 <br> Manager
								{%endif%}
							</td>
						{%endfor%}
					</tr>
				{%endif%}
			{%endfor%}
			</table>
		</div>
	</div>
{%else%}
	<center><h2>Aucune équipe n'est actuellement valide/complète</h2></center>
	<center><img width="25%"  src="{{ asset('bundles/app/images/forever-alone.jpg') }}" /></center>
{%endif%}
{% endblock %}
