{% extends 'base.html.twig' %}

{% block body %}
	<div id="home-sec">
		<img height="100%" width="100%" src="{{ asset('bundles/app/images/baniere.jpg') }}"/>
	</div>
	<br>
  <div class="container-fluid" style="margin-top:-1%;">
	<div class="row text-center">		        
        <div class="row text-center">
		  	<div class="col-md-4  col-sm-4">
		        <h3>Vous inscrire </h3>
	          <div id="steps">
	          	<a  href="{{ path('fos_user_registration_register') }}">
		          <div id="steps-head">
			          <span id="circle-red">#</span>
		          </div>
			    </a>
		            <div id="steps-body">
		        		<p>Vous pouvez vous inscrire aux différents tournois e-sport du Bordeaux Geek Festival.</p>
			    	</div>
			    </div>
		    </div>
	      
	        <div class="col-md-4  col-sm-4">
		        <h3>Créer ou rejoindre une équipe</h3>
	          <div id="steps">
	          	<a  href="{{ path('fos_user_registration_register') }}">
		          <div id="steps-head">
			          <span id="circle-red">#</span>
		          </div>
			    </a>
		            <div id="steps-body">
		        		<p>Une fois inscrits, vous pourrez consulter, recruter, postuler les diverses équipes inscrites aux différents tournois.</p>
			    	</div>
			    </div>
	        </div>
	        <div class="col-md-4  col-sm-4">
		        <h3>Rechercher</h3>
	          <div id="steps">
		          <div id="steps-head">
			          <span id="circle-red">#</span>
		          </div>
		            <div id="steps-body">
		        		<p>Recherchez les joueurs/les équipes cherchant à s'inscrire aux competitions lors du Bordeaux Geek Festival 2016</p>
			    	</div>
			    </div>
	        </div>
	    </div>
	    <br>
    </div>
  </div>

  <div class="container-fluid">
    <div class=""></div>
    <div class="">
		<div id="home-sec">
			<center>
				<h1>
					Inscription en trois étapes
				</h1>
				<br><br>
			</center>
		</div>
		<div class="row">
		  	<br><br>
		  	<div class="col-xs-4">
		  	</div>
		  	<div class="col-xs-4">
		  	<center><h3>Précisions</h3>
		  	<p> Toutes les données entrées afin de participer au concours ne seront pas concervées ou 
		  	utilisées à des fins commerciales.</p></center>
		  	<br>
		  	</div>
		  	<div class="col-xs-4">
		  	</div>
		</div>
		<div class="row pad-top">
	      <div class="col-md-12 text-center">
	        <div class="col-md-4 col-sm-4">
	          <div id="steps">
		          <div id="steps-head">
			          <span id="circle-red">1</span>
		          </div>
	            <div id="steps-body">
				  	<p>Entrer ses informations personnelles telles que le nom, prénom du joueur, mail etc...</p>
				  	<p><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Managers, n'oubliez pas 
				  	de cocher la case Manager lors de l'étape numero 1 de l'inscription </p>
	          	</div>
	          </div>
	        </div>
	        <div class="col-md-4 col-sm-4">
	          <div id="steps">
		          <div id="steps-head">
			          <span id="circle-red">2</span>
		          </div>
	              <div id="steps-body">
		  			<p>Choisissez votre tournoi</p>
	              </div>
	          </div>
	        </div>
	        <div class="col-md-4 col-sm-4">
	          <div id="steps">
		          <div id="steps-head">
			          <span id="circle-red">3</span>
		          </div>
	            <div id="steps-body">
				  	<p>Entrez les données correspondant au jeu :</p>
				  	<table  class="table table-bordered">
				  		<tr>
				  			<td class="col-md-6">
				  				<img width="100%" src="{{ asset('bundles/app/images/lol.png') }}" />
				  			</td>
				  			<td class="col-md-6">
				  				<img width="100%" src="{{ asset('bundles/app/images/csgo.png') }}" />
				  			</td>
				  		</tr>
				  		<tr>
				  			<td>
				  				classement, Pseudo, note allant de 1 à 5 en fonction de votre maitrise d'un poste
				  				(top, mid, bot, support, jungle)
				  			</td>
				  			<td>
				  				classement, Pseudo Steam et Pseudo en Jeu
				  			</td>
				  		</tr>
				  	</table>
	            </div>
	          </div>
	        </div>
	      </div>
    	</div>
    </div>
  </div>
  
    <section id="contact-sec">
	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11306.704725687694!2d-0.5760899033524391!3d44.88923845535566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5529ae2518e599%3A0xfbf9c37b548aee04!2sParc+des+Expositions+de+Bordeaux!5e0!3m2!1sfr!2sfr!4v1451757159416" width="100%" height="450" frameborder="0" style="border:1" allowfullscreen></iframe>
	    <div class="add"><i>Addresse: </i> Parc des Expositions de Bordeaux </div>
    </section>
   <br><br>
{% endblock %}
