{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nombre de membre</th>
                <th>Place disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                </td>
                <td></td>
                <td></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('team_show', { 'id': entity.id }) }}">Montrer l'équipe</a>
                    </li>
                    <li>
                        <a href="{{ path('team_show', { 'id': entity.id }) }}">Postuler</a>
                    </li>
                    {# <li>
                        <a href="{{ path('team_edit', { 'id': entity.id }) }}">edit</a>
                    </li> #}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user.captain != true %}
    <ul>
        <li>
            <a href="{{ path('team_new') }}">
                Inscrire une nouvelle équipe
            </a>
        </li>
    </ul>
    {% endif %}
    {% endblock %}
