{% extends '::base.html.twig' %}

{% block body -%}
	<div class="row">
	    <div class="col-xs-3">
	  		{%if team.image%}
	  			<center>
	  				<img width="50%" src="{{ asset('uploads/images/'~team.image.name) }}" />
				    <br>
				    {%if app.user.capitain and app.user.team.validation == null%}
					    <a class="btn btn-default" href="{{ path('image_edit',  {'id': team.image.id}) }}">
					    	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					    </a>
					    <a class="btn btn-default" href="{{ path('image_delete',  {'id': team.image.id,'originId':team.id,'origin':'team'}) }}">
					    	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					    </a>
					{%endif%}
	  			</center>
	  			<br>
	  		{%else%}
		    <center>
				{%if app.user.capitain and app.user.team.validation == null%}
				    <a class="btn btn-default" href="{{ path('image_new',  {'origin': 'team'}) }}">
				    	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				        	Ajouter Image Team
				    </a>
				{%endif%}
		    </center>	
		    <br>
	  		{%endif%}	  	
	    </div>
	    <div class="col-xs-3">
		    {%if app.user.team.validation == null and app.user.capitain%}
			    <a class="btn btn-default" href="{{ path('edit_capitain_before_delete', {'id':app.user.team.id} ) }}">
			        Supprimer équipe <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			    </a>
			{%endif%}
			<h1>Mon équipe</h1>
			<h2>{{team.name}} 
		    {%if app.user.team.validation == null and app.user.capitain%}
			    <a class="btn btn-default" href="{{ path('team_edit', {'id':app.user.team.id} ) }}">
			        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			    </a>
			{%endif%}
			</h2>
	    </div>
	    <div class="col-xs-3">
	    </div>
	    <div class="col-xs-2">
	    	{%if app.user.capitain %}
			    <a href="{{ path('team_edit_capitain',  {'id': app.user.team.id}) }}">
		    		<h2>Capitaine d'équipe</h2>
	        	</a>
	        {%else%}
	        	<h2>Capitaine d'équipe</h2>
			{%endif%}
			<a class="btn btn-link" href="{{ path('user_show', {'id':team.captain.id} ) }}">
        		{{ team.captain.username }}
        	</a>
        	</h2>
        	{%if team.captain.image%}
			    <center>
        			<img height="100px" width="100px" src="{{ asset('uploads/images/'~team.captain.image.name) }}" />
			    </center>
        	{%endif%}
	    </div>
	</div>
	<br>
	<hr>
	<br>
	
	{%if validation == true 
	and app.user.capitain!=null
	and (countCandidatsService.getPayedTeams(team.tournament.systName)<16)%}
		<div class="alert alert-info">
		    <strong> 
	    		<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
	    		Info!
	    	</strong> 
	    	Vous avez désormais suffisement de joueurs afin de valider votre équipe. <br>
	    	SEUL UNE EQUIPE VALIDEE POURRA ETRE INSCRITE
	    	<br>
	    	<br>
    		<a class="btn btn-default" href="{{ path('validate_team', {'team':team.id} ) }}">
	    		Valider l'équipe
	    	</a>
		</div>
	{%endif%}
	
	{%if team.validation != null%}
		<div class="alert alert-info">
		    <strong> 
	    		<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
	    		Info
	    	</strong> 
	    	Votre équipe est validée. Si vous désirez procéder à des modifications d'équipe, contactez les admins<br>
	    	{%if team.validation.payed==null%}
	    		Votre équipe doit payer ICI
	    	{%else%}
	    		Votre équipe a été considérée comme ayant payé.
	    	{%endif%}
	    </div>
	{%endif%}

	<br>
	<div class="row">
	    <div class="col-xs-1">
	    </div>
	    <div class="col-xs-2" >
        	{%if team.captain.image%}
        		<img height="100px"  width="100px" src="{{ asset('uploads/images/'~team.captain.image.name) }}" />
        	{%endif%}
	    </div>
	    <div class="col-xs-8" id="player-show">
		    <div class="col-xs-3">
				<a class="btn btn-link" href="{{ path('user_show', {'id':team.captain.id} ) }}">
	        		{{ team.captain.username }}
	        	</a>
		    </div>
		    <div class="col-xs-4">
		    </div>
		    <div class="col-xs-3">
                {%if team.captain.role%}
                	<td>
	                	{{ team.captain.role.name }}
	                	{%if team.tournament.systName=='lol' 
	                	and team.validation == null 
	                	and app.user.capitain%}
		                	<a class="btn btn-default"  href="{{ path('edit_capitain_role_team', {'id':app.user.id} ) }}">
		                		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		                	</a>  
	                	{%endif%}
	                </td>
                {%endif%}
		    </div>
		    <div class="col-xs-2">
		    	 {%if app.user == team.captain 
		    	 and team.validation == null%}
                	<a class="btn btn-default"  href="{{ path('edit_capitain_before_delete', {'id':team.id} ) }}">
                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                	</a>  
	            {%endif%}
		    </div>
	    </div>
	    <div class="col-xs-1">
	    </div>
	</div>
	<br>
    	{%for player in players%}
			<div class="row">
			    <div class="col-xs-1">
			    </div>
			    <div class="col-xs-2" >
                	{%if player.user.image%}
                		<img height="100px" width="100px" src="{{ asset('uploads/images/'~player.user.image.name) }}" />
                	{%endif%}
			    </div>
			    <div class="col-xs-8" id="player-show">
				    <div class="col-xs-3">
						<a class="btn btn-link" href="{{ path('user_show', {'id':player.user.id} ) }}">
							{{player.user.username}}
						</a>
				    </div>
				    <div class="col-xs-4">
				    	{%if player.user.manager%}
							Manager
	                	{%endif%}
				    </div>
				    <div class="col-xs-3">
		                {%if player.role%}
							{{player.role.name}}
						{%endif%}
				    </div>
				    <div class="col-xs-2">
				    	{%if ((app.user == player.user)  and (team.validation == null))%}
		                	<a class="btn btn-default"  href="{{ path('quit_team', {'playerId':player.id} ) }}">
		                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		                	</a>
			            {%elseif ((app.user.capitain == true)  and (team.validation == null))%}
		                	<a class="btn btn-default"  href="{{ path('quit_team', {'playerId':player.id} ) }}">
		                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		                	</a>
			            {%else%}
			            	<td></td>
			            {%endif%}
				    </div>
			    </div>
			    <div class="col-xs-1">
			    </div>
			</div>
			<br>
		{%endfor%}
	<br>
	<br>
	<br><br><br>
	{%if team.validation == null and (countCandidatsService.getPayedTeams(team.tournament.systName)<16) %}
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				{%if  (countCandidatsService.getAllSearchingCandidats(app.user.team.id))!= null %}
				  <li class="active"><a data-toggle="tab" href="#candjoueurs">
				  	Candidatures déposées par les joueurs
			    	<span class="badge">{{ countCandidatsService.getSearchingCandidats(app.user.team.id) }}</span></a>
			      </li>
			    {%endif%}
			    {%if (countCandidatsService.getAllApplicationFromTeam(app.user.team.id)) != null%}
				  <li
				  {%if  (countCandidatsService.getAllSearchingCandidats(app.user.team.id))== null %}
				   class="active"
				  {%endif%}
				  ><a data-toggle="tab" href="#candteam">
					  Recrutement par le chef d'équipe en attente de réponse
			    	  <span class="badge">{{ countCandidatsService.getApplicationFromTeam(app.user.team.id) }}</span>
				  </a>
				  </li>
				{%endif%}
			</ul>
		</div>
		<div class="tab-content">
			{%if (countCandidatsService.getAllSearchingCandidats(app.user.team.id))!= null %}
				<div id="candjoueurs" class="tab-pane fade in active">
					{%for candidats in (countCandidatsService.getAllSearchingCandidats(app.user.team.id)) %}
						<div class="row">
						    <div class="col-xs-1">
						    </div>
						    <div class="col-xs-2" >
			                	{%if candidats.user.image%}
			                		<img height="100px" width="100px" src="{{ asset('uploads/images/'~candidats.user.image.name) }}" />
			                	{%endif%}
						    </div>
						    <div class="col-xs-8" id="player-show">
							    <div class="col-xs-3">
									<a class="btn btn-link" href="{{ path('user_show', {'id':candidats.user.id} ) }}">
						        		{{candidats.user.username}}
						        	</a>
							    </div>
							    <div class="col-xs-3">
							    	{%if candidats.user.manager %}
								    	Manager
					                {%endif%}
							    </div>
							    <div class="col-xs-2">
							    	{%if app.user.tournament.systName == 'lol' %}
							    		{{candidats.role}}
					                {%endif%}
							    </div>
							    <div class="col-xs-2">
								    {%if candidats.text%}
				                		{{candidats.text}}
				                	{%endif%}
							    </div>
							    <div class="col-xs-2">
					                {%if app.user.capitain
					                and (countCandidatsService.getPayedTeams(team.tournament.systName)<16)%}
					                	<a class="btn btn-default"  href="{{ path('validate_application_team', {'candidats':candidats.id} ) }}">
					                		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					                	</a>
					                	<a class="btn btn-default"  href="{{ path('delete_application', {'candidats':candidats.id} ) }}">
					                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					                	</a>
						            {%endif%}
							    </div>
						    </div>
						    <div class="col-xs-1">
						    </div>
						</div>
						<br>
					{%endfor%}
				</div>
			{%endif%}
			{%if (countCandidatsService.getAllApplicationFromTeam(app.user.team.id)) != null%}
				<div class="tab-pane fade
				  {%if  (countCandidatsService.getAllSearchingCandidats(app.user.team.id))== null %}
				 	in active
				  {%endif%}
				 " id="candteam">
			    {%for candidats in (countCandidatsService.getAllApplicationFromTeam(app.user.team.id)) %}
			    <div class="row">
				    <div class="col-xs-1">
				    </div>
				    <div class="col-xs-2" >
	                	{%if candidats.user and candidats.user.image%}
	                		<img height="100px" width="100px" src="{{ asset('uploads/images/'~candidats.user.image.name) }}" />
	                	{%endif%}
				    </div>
				    <div class="col-xs-8" id="player-show">
					    {%if candidats.user%}
						    <div class="col-xs-3">
								<a class="btn btn-link" href="{{ path('user_show', {'id':candidats.user.id} ) }}">
					        		{{candidats.user.username}}
					        	</a>
						    </div>
						    <div class="col-xs-3">
						    	{%if candidats.user.manager %}
							    	Manager
				                {%endif%}
						    </div>
						{%else%}
							<div class="col-xs-3">
								{{candidats.email}}
						    </div>
							<div class="col-xs-3">
						    </div>
					    {%endif%}
					    <div class="col-xs-2">
					    	{%if app.user.tournament.systName == 'lol' %}
					    		{{candidats.role}}
			                {%endif%}
					    </div>
					    <div class="col-xs-2">
						    {%if candidats.text%}
		                		{{candidats.text}}
		                	{%endif%}
					    </div>
					    <div class="col-xs-2">
			                {%if app.user.capitain
			                and (countCandidatsService.getPayedTeams(team.tournament.systName)<16)%}
			                	<a class="btn btn-default"  href="{{ path('delete_application', {'candidats':candidats.id} ) }}">
			                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			                	</a>
				            {%endif%}
					    </div>
				    </div>
				    <div class="col-xs-1">
				    </div>
				</div>
				<br>
				{%endfor%}
				</div>
			{%endif%}
		</div>
	</div>
	{%else%}
		
	{%endif%}
{% endblock %}
