{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Nom de l'équipe</th>
                <td>{{ team.name }}</td>
                {%if players%}
                	<td></td>
                {%endif%}
            </tr>
            <tr>
                <th>Capitaine d'équipe</th>
                <td>{{ team.captain.username }}</td>
                {%if players%}
                	<td></td>
                {%endif%}
            </tr>
            {%for player in players%}
				<tr>
					<th>Joueur</th>
					<td>{{player.user.username}}</td>
					<td>{{player.role.name}}</td>
				</tr>
			{%endfor%}
        </tbody>
    </table>
    
	<br><br><br>
    <h2>Candidatures déposées 
    	<span class="badge">{{ countCandidatsService.getSearchingCandidats(app.user.team.id) }}</span>
    </h2>
    	<table class="table table-hover">
	        <tbody>
	            <tr>
	                <th>Pseudo joueur</th>
	                <th>Classement</th>
	                {%if app.user.tournament.systName == 'lol'%}
	                	<th>Sous-classement</th>
	                	<th>Poste désiré</th>
	                {%endif%}
	                <th>Réponse</th>
	            </tr>
			    {%for candidats in team.application %}
			    <tr>
			    	<td>{{candidats.user.username}}</td>
			    	<td>{{candidats.user.experience.ranking.name}}</td>
	                {%if app.user.tournament.systName == 'lol' 
	                and candidats.user.manager == null 
	                and candidats.user.experience.ranking.name != 'Pas classé'%}
			    		<td>{{candidats.user.experience.underRanking.name}}</td>
	                {%else%}
	                	<td></td>
	                {%endif%}
			    	{%if app.user.tournament.systName == 'lol' %}
			    		<td>{{candidats.role}}</td>
	                {%endif%}
	                <td>
	                	<a class="btn btn-default"  href="{{ path('validate_application', {'candidats':candidats.id} ) }}">
	                		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	                	</a>
	                	<a class="btn btn-default"  href="{{ path('delete_application', {'candidats':candidats.id} ) }}">
	                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	                	</a>
	                </td>
			    </tr>
			    {%endfor%}

	<br><br><br>
    <a class="btn btn-default" href="{{ path('team_edit', {'id':app.user.team.id} ) }}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Modifier
    </a>
{% endblock %}
