{% extends '::base.html.twig' %}

{% block body %}
    <h1>Equipe {{ entity.name }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom</th>
                <td> {{ entity.name }}</td>
            </tr>
            <tr>
                <th>Capitaine</th>
                <td> {{ entity.captain }} </td>
            </tr>
            <tr>
                <th>{% if entity.tournament == "0" %}Top{% else %}Joueur 1{% endif %}</th>
                {% if entity.post1 == null %}
                    <td>A pourvoir</td>
                    {% else %}
                    <td> {{ entity.post1 }} </td>
                {% endif %}
            </tr>
            <tr>
                <th>{% if entity.tournament == "0" %}Mid{% else %}Joueur 2{% endif %}</th>
                {% if entity.post2 == null %}
                    <td>A pourvoir</td>
                    {% else %}
                    <td> {{ entity.post2 }} </td>
                {% endif %}
            </tr>
            <tr>
                <th>{% if entity.tournament == "0" %}Bot{% else %}Joueur 3{% endif %}</th>
                {% if entity.post3 == null %}
                    <td>A pourvoir</td>
                    {% else %}
                    <td> {{ entity.post3 }} </td>
                {% endif %}
            </tr>
            <tr>
                <th>{% if entity.tournament == "0" %}Support{% else %}Joueur 4{% endif %}</th>
                {% if entity.post4 == null %}
                    <td>A pourvoir</td>
                    {% else %}
                    <td> {{ entity.post4 }} </td>
                {% endif %}
            </tr>
            <tr>
                <th>{% if entity.tournament == "0" %}Jungler{% else %}Joueur 5{% endif %}</th>
                {% if entity.post5 == null %}
                    <td>A pourvoir</td>
                    {% else %}
                    <td> {{ entity.post5 }} </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    {% if app.user.captain == true and app.user.team == entity.name %}

        <ul class="record_actions">
            <li>
                <a href="{{ path('team_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
        {% block applicant %}{% endblock %}

    {% endif %}
    <ul class="record_actions">

        <li>
            <a href="{{ path('team') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
