{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Nom de l'équipe</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Capitaine d'équipe</th>
                <td>{{ team.captain.username }}</td>
            </tr>
            {%for player in players%}
				<tr>
					<th>Joueur</th>
					<td>{{player.user.username}}</td>
					<td>{{player.role.name}}</td>
				</tr>
			{%endfor%}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
