{% extends '::base.html.twig' %}

{% block body -%}
{% block experience -%}
	    <h1>Experience</h1>
	
	    <table class="record_properties">
	        <tbody>
	            <tr>
	                <th>Lookingforteam</th>
	                <td>{{ entity.experience.lookingForTeam }}</td>
	            </tr>
	            <tr>
	                <th>Username</th>
	                <td>{{ entity.experience.username }}</td>
	            </tr>
	        </tbody>
	    </table>
	
	        <ul class="record_actions">
	    <li>
	        <a href="{{ path('experience') }}">
	            Back to the list
	        </a>
	    </li>
	    <li>
	        <a href="{{ path('experience_edit', { 'id': entity.id }) }}">
	            Edit
	        </a>
	    </li>
	    <li>{{ form(delete_form) }}</li>
	</ul>
	{% endblock %}
{% endblock %}
