{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Ranking</th>
                <th>UnderRanking</th>
                <th>Top</th>
                <th>Mid</th>
                <th>Bot</th>
                <th>Support</th>
                <th>Jungle</th>
                <th>Manager</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.username }}</td>
                {%if entity.experience%}
	                {%if entity.experience.ranking%}
		                <td>{{ entity.experience.ranking.name }}</td>
		            {%else%}
		            	<td></td>
		            {%endif%}
	                {%if entity.experience.underRanking%}
		                <td>{{ entity.experience.underRanking.name }}</td>
		            {%else%}
		            	<td></td>
		            {%endif%}
	                {%if entity.experience.postes%}
		                <td>{{ entity.experience.postes.top }}</td>
		                <td>{{ entity.experience.postes.mid }}</td>
		                <td>{{ entity.experience.postes.bot }}</td>
		                <td>{{ entity.experience.postes.sup }}</td>
		                <td>{{ entity.experience.postes.jungle }}</td>
		            {%else%}
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            {%endif%}
		        {%else%}
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		        {%endif%}
                {%if entity.manager%}
	            	<td>MANAGER</td>
	            {%else%}
	            	<td></td>
	            {%endif%}
                	
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
