{% extends '::base.html.twig' %}

{% block body -%}
	
	
		{{ form(form) }}

    <h1>User list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Ranking</th>
	            {%if game =='lol'%}
                <th>UnderRanking</th>
                <th>Top</th>
                <th>Mid</th>
                <th>Bot</th>
                <th>Support</th>
                <th>Jungle</th>
                {%endif%}
                <th>Manager</th>
				<th>Recruter</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
    	{%set test=0%}
            <tr>
                <td>{{ entity.username }}</td>
		        {%if game =='lol'%}
	                {%if entity.experience%}
		                {%if entity.experience.ranking%}
			                <td>{{ entity.experience.ranking.name }}</td>
			            {%else%}
			            	<td></td>
			            {%endif%}
		                {%if entity.experience.underRanking%}
			                <td>{{ entity.experience.underRanking.name }}</td>
			            {%else%}
			            	<td></td>
			            {%endif%}
		                {%if entity.experience.postes%}
			                <td>{{ entity.experience.postes.top }}</td>
			                <td>{{ entity.experience.postes.mid }}</td>
			                <td>{{ entity.experience.postes.bot }}</td>
			                <td>{{ entity.experience.postes.sup }}</td>
			                <td>{{ entity.experience.postes.jungle }}</td>
			            {%else%}
			            	<td></td>
			            	<td></td>
			            	<td></td>
			            	<td></td>
			            	<td></td>
			            {%endif%}
			        {%else%}
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            	<td></td>
		            {%endif%}
		        {%else%}
	                {%if entity.experience%}
		                {%if entity.experience.ranking%}
			                <td>{{ entity.experience.ranking.name }}</td>
			            {%else%}
			            	<td></td>
			            {%endif%}
		            {%else%}
		            	<td></td>
			        {%endif%}
		        {%endif%}
                {%if entity.manager%}
	            	<td>MANAGER</td>
	            {%else%}
	            	<td></td>
	            {%endif%}
            	{%if app.user.capitain and entity.team == null%}
	            	{%for user in appTeam%}
			      		{%if user == entity%}
			      			{%set test=1%}
			      		{%endif%}
			      	{%endfor%}
			      	{%if (test != 1) and (app.user.tournament == entity.tournament) and (app.user.experience !=null)%}
		            	{%if entity.tournament.systName == 'csgo'%}
			      			<td><a class="btn btn-default" href="{{ path('team_application', {'id':entity.id}) }}">Postuler</a></td>
			      		{%else%}
			      			<td>
								{% form_theme checkRoleService.getRoleAvailable(app.user.team.id,entity.id) 'bootstrap_3_layout.html.twig' %}
				      			{{form(checkRoleService.getRoleAvailable(app.user.team.id,entity.id))}}
			      			</td>
			      		{%endif%}
			      	{%elseif (app.user.tournament != entity.tournament)%}
			      		<td></td>
			      	{%else%}
			      		<td><p>En attente d'une réponse</p></td>
			      	{%endif%}
            	{%else%}
            		<td></td>
            	{%endif%}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
