{% extends '::base.html.twig' %}

{% block body -%}
	{%block user%}
	    <h1>User</h1>
	
	    <table>
	        <tbody>
	            <tr>
	                <th>Firstname</th>
	                <td>{{ user.firstName }}</td>
	            </tr>
	            <tr>
	                <th>Lastname</th>
	                <td>{{ user.lastName }}</td>
	            </tr>
	            <tr>
	                <th>Telephone</th>
	                <td>{{ user.telephone }}</td>
	            </tr>
	            <tr>
	                <th>Date de Naissance</th>
	                <td>{{ user.birth|date('Y-m-d') }}</td>
	            </tr>
	        </tbody>
	    </table>
	
        <button>
	        <a href="{{ path('player_edit', {'id':user.id} ) }}">
	        	Modifier
	        </a>
        </button>
	{% endblock %}
{% endblock %}
